*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}


ul{
    list-style:none;
}

body{
    font-size :  1.5rem;
    -webkit-animation: fadein 2s;

}

@-webkit-keyframes fadein{
    from{
        opacity:0;
    }
    to{
        opactiy:1;
    }
}
@-webkit-keyframes fadeout{
    from{
        opacity:1;
    }
    to{
        opacity:0;
    }
}

h1{
    font-size:3rem;
    max-width: 550px;
    text-align: center;
    margin:auto;
    padding: 2rem 0 2rem 0;
    background-color: black;
    color:white;
}

body div{
    text-align: center;
    max-width: 550px;
    max-height:50px;
    margin:auto;
    
    
}

input{
    font-size:1.5rem;
    vertical-align: middle;
    width:17rem;
    padding:0.3rem;
    border-style: solid;
    border-color:black;
    border-width:2px;
    height:40px;
}

.addBtn{
    font-size : 1.7rem;
    vertical-align: middle;
    background-color : white;
    min-height: 40px;
    color:white;
    border-style: none;
    cursor:pointer;
}

.addBtn:hover{
    background-color: black;
    color:black;
}


ul{
    margin:auto;
    text-align: left;
    min-width: 548px;
    background-color: black;
    
}


ul div{
    /* margin-right:400px; */
    vertical-align: middle;
    display:inline-block;
    margin-left: 20px;    
    color:white;
    font-size:30px;
    -webkit-animation: fadein 2s;
    font-family: 'Jua', sans-serif;
}

ul button{
    background-color: black;
    font-size:20px;
    border-width:0;    
    cursor:pointer;
    float:right;
    margin:5px 20px;
    -webkit-animation: fadein 2s;

}

ul button:hover{
    background-color: white;

}

.left{
    position:absolute;
    left:980px;
    top:100px;
}
.completed{
    position:absolute;
    left:980px;
    top:130px;
}
